.login-page {
    background: radial-gradient(circle at 30% 50%, #7289da, #5865f2 40%, #404eed 70%);
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupButtons {
    display: flex;
    gap: 1rem;
}

.signupButtons svg {
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    margin-bottom: 0.5rem;
}

.signupButtons button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    background-color: #374151;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.signupButtons button:hover {
    background-color: #6b7280;
}

.signupButtons button span {
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
}

.infoBox {
    background-color: #eb4a35;
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin: 0.75rem 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 0.5rem;
}

.infoBox svg {
    font-size: 3.5rem;
}